header {
  display: flex;
  padding-inline: 16px;
  padding-block: 8px;
  background-color: #333;
  color: white;
  align-items: center;
  justify-content: space-between;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    > span {
      cursor: pointer;
      &:hover {
        color: #bcbcbc;
      }
    }

    ul {
      list-style: none;

      button {
        cursor: pointer;
        &:hover {
          color: #ffffff;
          background-color: rgb(108, 96, 170);
        }
      }
    }
  }
}
